*~
*.swp
.DS_Store
.changelog
.tea
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
package-lock.json
lib/
esm/
temp_esm/
dist/
types/
build/
coverage/
node_modules/
examples/test
.idea/
TODO.md
tsconfig.tsbuildinfo
package/
package.zip
.umi
.umi-production
.cjsescache
doc-site
.lerna-changelog
.history
.lint-report.log
