@nav-menu-prefix-cls: ~'@{ant-portal-prefix}-nav-menu';
@nav-menu-color: @text-color;
@nav-menu-hover-color: lighten(@nav-menu-color, 20%);
@nav-menu-dark-color: @text-color-inverse;
@nav-menu-hover-dark-color: darken(@nav-menu-dark-color, 20%);

.@{nav-menu-prefix-cls}{
  position: relative;

  .@{ant-prefix}-menu{
    line-height: inherit;
    background-color: transparent;
    border-bottom: none;

    .@{ant-prefix}-menu-item, .@{ant-prefix}-menu-submenu, .@{ant-prefix}-menu-submenu-title{
      color: @nav-menu-color;
      border-bottom: none;

      &:hover, &-active, &-selected{
        color: @nav-menu-hover-color;
        border-bottom: none;
      }
    }
  }
  
  .@{ant-prefix}-menu-dark{
    .@{ant-prefix}-menu-item, .@{ant-prefix}-menu-submenu, .@{ant-prefix}-menu-submenu-title{
      color: @nav-menu-dark-color;

      &:hover, &-active, &-selected{
        color: @nav-menu-hover-dark-color;
      }
    }
  }

  &__error{
    color: #f5222d;
    text-align: center;
    line-height: 48px;
  }
}
