@import '../__builtins__/styles/common.less';
@import './menu.less';

@nav-prefix-cls: ~'@{ant-portal-prefix}-nav';
@nav-z-index:1000;
@nav-height: 68px;
@nav-content-height: 48px;

.@{nav-prefix-cls}{
  width: 100%;
  height: @nav-height;
  background-color: @var-primary;
  position: relative;
  z-index: 9;

  &--theme-light {
    color: @text-color;
  }

  &--theme-dark {
    color: @text-color-inverse;
  }

  &--fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: @nav-z-index;
  }

  &__placeholder{
    width: 100%;
    height: @nav-height;
  }

  &-logo,&-title{
    margin-left: 10px;
    max-height: 100%;
    font-size: @font-size-lg;    
    cursor: pointer;
  }

  &-content{
    padding: (@nav-height - @nav-content-height)/2 0;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
    display: flex; 
    box-sizing: border-box;

    &__left, &__right{
      line-height: @nav-content-height;
      vertical-align: middle;
      overflow: hidden;
      white-space: nowrap;
    }
    
    &__main{
      padding: 0 10px;
      flex: 1 1 0%;
      min-width: 0px;
      // display: flex;
      line-height: @nav-content-height;

      &--right{
        // justify-content: flex-end;
        text-align: right;
      }
    }
  }
}

