@import '../__builtins__/styles/common.less';

@page-container-prefix-cls: ~'@{ant-portal-prefix}-page-container';

.@{page-container-prefix-cls}{
  margin-left:auto !important;
  margin-right: auto !important;
  position: relative;

  &-fullwidth{
    width: 100%;
  }
}
